@import moe.pizza.auth.models.Pilot
@(pilot: Pilot)

<h2>Account Management</h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Your Account</h3></div>
            <div class="panel-body">
                <form role="form" id="update_account" action="/account/update" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>Account</th><td>@pilot.uid</td>
                        </tr>
                        <tr>
                            <th>Main Character</th><td>@pilot.characterName</td>
                        </tr>
                    </table>
                    <!--<button type="submit" class="btn btn-default">Update</button>-->
                </form>
                <script>
                        $( "#update_account" ).validate({
                            rules: {

                            }
                        });
                </script>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Password</h3></div>
            <div class="panel-body">
                <form role="form" id="update_password" action="/account/update/password" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>New Password</th><td><input class="form-control" type="password" name="password" id="password" /></td>
                        </tr>
                        <tr>
                            <th>Confirm New Password</th><td><input class="form-control" type="password" name="password_confirm" id="password_confirm" /></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <script>
                        $( "#update_password" ).validate({
                            rules: {
                                password: "required",
                                password_confirm: {
                                    equalTo: "#password"
                                }
                            }
                        });
                </script>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Email</h3></div>
            <div class="panel-body">
                <form role="form" id="update_email" action="/account/update/email" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>Email</th><td><input class="form-control" name="email" value="@pilot.email" required/></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <script>
                        $( "#update_email" ).validate({
                            rules: {
                                email: {
                                    required: true,
                                    email: true
                                }
                            }
                        });
                </script>


            </div>
        </div>
    </div>
</div>
