@import moe.pizza.auth.models.Pilot
@import moe.pizza.crestapi.CrestApi
@(pilot: Pilot,
    validKeys: List[(Pilot.CrestToken,Option[CrestApi.VerifyResponse])],
    invalidKeys: List[(Pilot.CrestToken,Option[CrestApi.VerifyResponse])])

<h2>Account Management</h2>

<div class="row">
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Your Account</h3></div>
            <div class="panel-body">
                <form role="form" id="update_account" action="/account/update" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>Account name</th><td>@pilot.uid</td>
                        </tr>
                        <tr>
                            <th>Character name</th><td>@pilot.characterName</td>
                        </tr>
                    </table>
                </form>
            </div>
        </div>
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Additional Characters</h3></div>
            <div class="panel-body">
                @if(validKeys.length > 0) {
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr>
                                <th width="32"></th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for(validKey <- validKeys) {
                                <tr>
                                    <td><img src="@("https://imageserver.eveonline.com/Character/" + validKey._2.get.CharacterID + "_32.jpg")"/></td>
                                    <td>@validKey._2.get.CharacterName</td>
                                    <td>
                                        <form role="form" class="delete_character" action="/account/characters/remove" method="post">
                                            <input type="hidden" name="crestToken" value="@validKey._1.toString"/>
                                            <button type="submit" class="btn btn-primary btn-sm">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
                <a href="/account/characters/add" class="btn btn-primary">Add Character</a>
                @if(invalidKeys.length > 0) {
                    <table class="table table-bordered table-condensed table-striped">
                        <thead>
                            <tr><th colspan="3">Invalid Keys</th></tr>
                        </thead>
                        <tbody>
                            @for(invalidKey <- invalidKeys) {
                                <tr>
                                    <td><img src="@("https://imageserver.eveonline.com/Character/" + invalidKey._1.characterID + "_32.jpg")"/></td>
                                    <td><i>invalid</i></td>
                                    <td>
                                        <form role="form" class="delete_character" action="/account/characters/remove" method="post">
                                            <input type="hidden" name="crestToken" value="@invalidKey._1.toString"/>
                                            <button type="submit" class="btn btn-primary btn-sm">Remove</button>
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                }
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Password</h3></div>
            <div class="panel-body">
                <form role="form" id="update_password" action="/account/update/password" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>New Password</th><td><input class="form-control" type="password" name="password" id="password" /></td>
                        </tr>
                        <tr>
                            <th>Confirm New Password</th><td><input class="form-control" type="password" name="password_confirm" id="password_confirm" /></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <script>
                        $( "#update_password" ).validate({
                            rules: {
                                password: "required",
                                password_confirm: {
                                    equalTo: "#password"
                                }
                            }
                        });
                </script>


            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="panel panel-primary">
            <div class="panel-heading"><h3 class="panel-title">Email</h3></div>
            <div class="panel-body">
                <form role="form" id="update_email" action="/account/update/email" method="post">
                    <table class="table table-striped">
                        <tr>
                            <th>Email</th><td><input class="form-control" name="email" value="@pilot.email" required/></td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
                <script>
                        $( "#update_email" ).validate({
                            rules: {
                                email: {
                                    required: true,
                                    email: true
                                }
                            }
                        });
                </script>


            </div>
        </div>
    </div>
</div>
