<div class="masthead jumbotron">
    <div class="container">
        <h1 class="text-center">pizza-auth-3</h1>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <p class="text-center"><a href="/login" style="width: 100%;" class="btn btn-primary btn-lg">Login via CCP Single Sign On</a></p>
    </div>
    <div class="col-md-12">
        <p class="text-center"><a href="/signup" style="width: 100%;" class="btn btn-primary btn-lg">Sign up via CCP Single Sign On</a></p>
    </div>
</div>