<div class="row">
        <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Server-wide Ping</h3></div>
                <form role="form" class="panel-body form-inline span8 offset2 custom-form" name="ping" action="/ping/global" method="post">
                        <div class="form-group" style="width:100%;">
                                <label for="message">Message</label><br /><textarea class="form-control" rows=6 style="width:100%" type="text" name="message"></textarea>
                                <div class="checkbox">
                                        <label>
                                                <input type="checkbox" name="internal" checked>Internal
                                                <input type="checkbox" name="ally" checked>Ally
                                        </label>
                                </div>
                                <div class="controls">
                                        <button type="submit" class="btn btn-primary" value="submit" >Submit</button>
                                </div>
                        </div>
                </form>
                </div>
        </div>
        <div class="col-md-4">
                <div class="panel panel-primary">
                <div class="panel-heading"><h3 class="panel-title">Group Ping</h3></div>
                <form role="form" class="panel-body form-inline span8 offset2 custom-form" name="ping" action="/ping/group" method="post">
                        <div class="form-group" style="width:100%;">
                                <label for="message">Message</label><br /><textarea class="form-control" rows=6 style="width:100%" type="text" name="message"></textarea>
                                <label for="group">Group</label><br />
                                <input type="text" class="form-control" id="group" name="group" placeholder="Group, Corporation or Alliance" autocomplete="off">
                                <div class="controls">
                                        <button type="submit" class="btn btn-primary" value="submit" >Submit</button>
                                </div>
                        </div>
                </form>
                </div>
        </div>
</div>