@import moe.pizza.auth.models.Pilot
@(pilot: Pilot)

<h2>Create Account</h2>
<div class="row well form-inline custom-form">
    <h3>Character</h3>
    <table class="table">
        <tr>
            <th scope="row">Character</th>
            <td>@pilot.characterName</td>
        </tr>
        <tr>
            <th scope="row">Corp</th>
            <td>@pilot.corporation</td>
        </tr>
        <tr>
            <th scope="row">Alliance</th>
            <td>@pilot.alliance</td>
        </tr>
        <tr>
            <th scope="row">Eligibility</th>
            <td>@pilot.accountStatus</td>
        </tr>
    </table>
    <h3>Account Settings</h3>
    <form id="account" name="account" action="/signup/confirm" method="post">
        <table class="table">
            <tr>
                <th scope="row">Username</th>
                <td>@pilot.uid</td>
            </tr>
            <tr>
                <th scope="row"><label for="email">Email Address</label></th>
                <td><input id="email" type="text" name="email" class="form-control"/></td>
            </tr>
            <tr>
                <th scope="row"><label for="password">Password</label></th>
                <td><input id="password" type="password" name="password" class="form-control" /></td>
            </tr>
            <tr>
                <th scope="row"><label for="password_confirm">Confirm Password</label></th>
                <td><input id="password_confirm" type="password" name="password_confirm" class="form-control" /></td>
            </tr>
        </table>
        <button type="submit" class="btn btn-primary" value="submit">Submit</button>
    </form>
    <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
    <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
    <script>
            $( "#account" ).validate({
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                    password: "required",
                    password_confirm: {
                        equalTo: "#password"
                    }
                }
            });
    </script>

</div>